/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./gallery.css');
@import url('./form.css');

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}
